@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

                /// HEADER SECTION ///

header{
    background: rgb(255,143,113);
    background: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, rgba(255,143,113,1) 0%, rgba(255,62,85,1) 100%);
    background-position: center;
    border-radius: 0rem 0rem 0rem 6.25rem;
    margin-bottom: 6rem;

    /// NAVBAR SECTION
    .navbar-container{
        @include flex-setup;
        justify-content: space-between;
        padding: 3rem 4rem;

        .first-nav{
            @include flex-setup;
    
            img{
                margin-right: 2.5rem;
            }
    
            .dropdown-links{
                .dropdown-link{
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    margin-right: 2rem;
    
                    &:hover {
                        .fa-chevron-down {
                            color: #ffffffab;
                            transform: rotate(180deg);
                        }
    
                        .links{
                            color: #ffffffab;
                            text-decoration: underline;
                        }
    
                        .dropdown-content{
                            display: block;
                        }
                    }
    
                    .links{
                        color: #fff;
                        // display: flex;
                        // align-items: center;
                        transition: color .35s;
                    }
    
                    .fa-chevron-down{
                        font-size: .8rem;
                        color: #fff;
                        margin-left: .2rem; 
                        transition: transform .35s;
                        transform-origin: center;
                    }
    
                    .dropdown-content{
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #fff;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        min-width: 150px;
                        margin-top: .1rem;
                        padding: 10px;
                        border-radius: 4px;
    
                        a{
                            display: block;
                            text-decoration: none;
                            
                            color: #909090;
                            padding: 8px 0;
                            transition: background-color 0.2s;
    
                            &:hover{
                                color: #2D2E40;
                            }
                        }
                    }
                }
    
            }
        }
    
        .second-nav{
            .links-2{
                color: #fff;
                margin-left: 2rem;
            }
    
            .btn-nav{
                background-color: #fff;
                color: $btn-color;
                padding: .8rem 2rem;
                border-radius: 1.75rem;
    
                &:hover{
                    background-color: $btn-bg-color;
                    color: #fff;
                    transition: .25s ease-out;
                }
            }
        }
    }

    /// HERO SECTION
    .hero-section{
        text-align: center;
        padding: 5rem 0 8rem 0;

        .hero-text{
            h1{
                font-size: 4rem;
                letter-spacing: -0.12rem;
                color: #FFF;
                margin-bottom: 1rem;
            }

            p{
                font-size: 1.25rem;
                color: #FFF;
                margin-bottom: 3.5rem;
            }
        }

        .hero-btn{
            .hero-btn-1{
                background-color: #FFF;
                color: $btn-color;
                padding: .8rem 1.5rem;
                border-radius: 1.75rem;
                margin-right: 1rem;

                &:hover{
                    background-color: $btn-bg-color;
                    color: #FFF;
                    transition: .25s ease-out;
                }
            }

            .hero-btn-2{
                @extend .hero-btn-1;
                background-color: transparent;
                border: 1px solid #FFF;
                color: #FFF;
                margin-right: 0;

                &:hover{
                    background-color: #FFF;
                    color: $btn-color;
                    transition: .25s ease-out;
                }
            }
        }
    }
}

@include mobile-view{
    header{
        background: url(/images/bg-pattern-intro-mobile.svg), linear-gradient(90deg, rgba(255,143,113,1) 0%, rgba(255,62,85,1) 100%);
        background-position: center;

        .navbar-container{
            padding: 3rem 1.5rem;

            .first-nav{
                .dropdown-links{
                    display: none;
                }
            }

            .second-nav{
                display: none;
            }
        }
    }
}

                /// MAIN SECTION ///

main{
    h2{
        font-size: 2.5rem;
        color: $main-color;
        text-align: center;
        letter-spacing: -0.075rem;
    }

    /// FIRST SECTION
    .first-section{
        @include flex-setup;
        padding: 0 4rem;
        margin-bottom: 2rem;
        overflow: hidden;

        .text{
            @include flex-setup-2;

            h3{
                font-size: 1.75rem;
                color: $main-color;
                line-height: 1.75rem;
                margin-bottom: 1.5rem;
            }

            p{
                color: #4C5862;
                line-height: 1.75rem;
                letter-spacing: 0.03125rem;
                margin-bottom: 4rem;
                padding-right: 2rem;
            }
        }

        .img{
            @extend .text;

            img{
                width: 55rem;
                height: 55.125rem;
                position: relative;
                right: -30px;
            }
        }
    }

    /// SECOND SECTION
    .second-section{
        @include flex-setup;
        border-radius: 0rem 6.25rem;
        background: url(/images/bg-pattern-circles.svg), linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
        background-position: bottom left;
        background-repeat: no-repeat;
        height: 25rem;
        // flex-shrink: 0;
        padding: 0 4rem;
        margin-bottom: 5rem;

        .img-second{
            @include flex-setup-2;
        }

        .text-second{
            @extend .img-second;

            h3{
                color: #FFF;
                font-size: 2.5rem;
                letter-spacing: -0.075rem;
                margin-bottom: 1.5rem;
            }

            p{
                color: #FFF;
                line-height: 1.75rem;
                letter-spacing: 0.03125rem;
            }
        }
    }

    /// THIRD SECTION
    .third-section{
        @include flex-setup;
        padding: 0 4rem;
        margin-bottom: 5rem;
        overflow: hidden;

        .img-third{
            @include flex-setup-2;
            position: relative;

            img{
                width: calc(100% + 310px);
                height: auto;
                position: relative;
                left: -310px;
            }
        }

        .text-third{
            @include flex-setup-2;

            h3{
                color: #1F3E5A;
                font-size: 1.75rem;
                line-height: 1.75rem;
                margin-bottom: 1.5rem;
            }

            p{
                color: #4C5862;
                line-height: 1.75rem;
                letter-spacing: 0.03125rem;
                margin-bottom: 3.5rem;
            }
        }
    }
}

                /// HEADER SECTION ///

footer{
    display: flex;
    justify-content: space-between;
    border-radius: 0rem 6.25rem 0rem 0rem;
    background: #24242C;
    padding: 4rem 10rem 4rem 4rem;

    .footer-link{

        .header-footer{
            color: #FFF;
            font-size: 1.3rem;
            font-weight: 600;
            line-height: 2.0625rem;
            margin-bottom: 2rem;
        }

        .link-footer{
            a{
                color: #FFF;
                font-size: 0.9375rem;
                line-height: 2.0625rem;

                &:hover{
                    text-decoration: underline;
                    color: #dcdbdbb1;
                    transition: .25s ease-out;
                }
            }
        }
    }
}