@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

                /// HEADER SECTION ///

header{
    background: rgb(255,143,113);
    background: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, rgba(255,143,113,1) 0%, rgba(255,62,85,1) 100%);
    background-position: center;
    border-radius: 0rem 0rem 0rem 6.25rem;
    margin-bottom: 6rem;

    /// NAVBAR SECTION
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 4rem;

        .first-nav{
            display: flex;
            align-items: center;
    
            img{
                margin-right: 2.5rem;
            }
    
            .dropdown-links{
                .dropdown-link{
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    margin-right: 2rem;
    
                    &:hover {
                        .fa-chevron-down {
                            color: #ffffffab;
                            transform: rotate(180deg);
                        }
    
                        .links{
                            color: #ffffffab;
                            text-decoration: underline;
                        }
    
                        .dropdown-content{
                            display: block;
                        }
                    }
    
                    .links{
                        color: #fff;
                        // display: flex;
                        // align-items: center;
                        transition: color .35s;
                    }
    
                    .fa-chevron-down{
                        font-size: .8rem;
                        color: #fff;
                        margin-left: .2rem; 
                        transition: transform .35s;
                        transform-origin: center;
                    }
    
                    .dropdown-content{
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #fff;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        min-width: 150px;
                        margin-top: .1rem;
                        padding: 10px;
                        border-radius: 4px;
    
                        a{
                            display: block;
                            text-decoration: none;
                            
                            color: #909090;
                            padding: 8px 0;
                            transition: background-color 0.2s;
    
                            &:hover{
                                color: #2D2E40;
                            }
                        }
                    }
                }
    
            }
        }
    
        .second-nav{
            .links-2{
                color: #fff;
                margin-left: 2rem;
            }
    
            .btn-nav{
                background-color: #fff;
                color: $btn-color;
                padding: .8rem 2rem;
                border-radius: 1.75rem;
    
                &:hover{
                    background-color: $btn-bg-color;
                    color: #fff;
                    transition: .25s ease-out;
                }
            }
        }
    }

    /// HERO SECTION
    .hero-section{
        text-align: center;
        padding: 5rem 0 8rem 0;

        .hero-text{
            h1{
                font-size: 4rem;
                letter-spacing: -0.12rem;
                color: #FFF;
                margin-bottom: 1rem;
            }

            p{
                font-size: 1.25rem;
                color: #FFF;
                margin-bottom: 3.5rem;
            }
        }

        .hero-btn{
            .hero-btn-1{
                background-color: #FFF;
                color: $btn-color;
                padding: .8rem 1.5rem;
                border-radius: 1.75rem;
                margin-right: 1rem;

                &:hover{
                    background-color: $btn-bg-color;
                    color: #FFF;
                }
            }

            .hero-btn-2{
                @extend .hero-btn-1;
                background-color: transparent;
                border: 1px solid #FFF;
                color: #FFF;
                margin-right: 0;

                &:hover{
                    background-color: #FFF;
                    color: $btn-color;
                }
            }
        }
    }
}

                /// MAIN SECTION ///

main{
    h2{
        font-size: 2.5rem;
        color: $main-color;
        text-align: center;
        letter-spacing: -0.075rem;
    }

    .first-section{
        display: flex;
        align-items: center;
        padding: 0 4rem;
        margin-bottom: 2rem;
        overflow: hidden;

        .text{
            flex-basis: 50%;
            flex-shrink: 0;

            h3{
                font-size: 1.75rem;
                color: $main-color;
                line-height: 1.75rem;
                margin-bottom: 1.5rem;
            }

            p{
                color: #4C5862;
                line-height: 1.75rem;
                letter-spacing: 0.03125rem;
                margin-bottom: 4rem;
                padding-right: 2rem;
            }
        }

        .img{
            @extend .text;

            img{
                width: 55rem;
                height: 55.125rem;
                position: relative;
                right: -30px;
            }
        }
    }
}